<div style="text-align:center;">
  <h2 style="margin-top: 10px;">잡담판 ver-1.0</h2>
</div>
<br /><br />
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">작성자</th>
      <th scope="col">제목</th>
      <th scope="col">내용</th>
      <th scope="col">보기</th>
      <th scope="col">삭제</th>
      <th scope="col">수정</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <th scope="row"><%= post.id %></th>
      <td><%= post.username %></td>
      <td><%= post.title %></td>
      <td><%= post.content %></td>
      <td><a href=/post/show/<%= post.id %>>보기</a></td>
      <td><a href=/post/destroy/<%= post.id %>>삭제</a></td>
      <td><a href=/post/modify/<%= post.id %>>수정</a></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br />
<div style="text-align:right">
  <p><a class="btn btn-primary ml-auto" role="button" href="/post/new">작성</a></p>
</div>